<%= form_for list, :html => { :class => 'ajax' } do |f| %>

  <div class="errors"></div>

  <div class="field lClear required">
    <%= f.label :name, "Give your group a name..." %>
    <%= f.text_field :name, :autocomplete => 'off' %>
  </div>

  <div class="actions">
    <%= f.submit "Create Group", :class => 'submit', :autocomplete => 'off' %>
  </div>

<% end %>
