<% content_for :content do %>

    <section id="social_friends">
      <h3 id="invite_friends" data-uid="{{ app.user.id }}">Invite Your Facebook Friends</h3>
      <div class="registered">
        <h3>Follow Friends Already Using The Whoot</h3>

        <div class='disabled-notice'>This feature is disabled for the demo.</div>

        <a href="<%= root_path %>" class="done">Done Following Friends</a>
        <div class="clear"></div>
      </div>
    </section>

<% end %>
