<p>UH OH!</p>

<p>
  You’ve been canceled on! <%= @user.first_name %> has cancelled <%= @user.gender_possesive %> event for tonight. Time to make some new plans!
</p>

<p>
  Log on to see what everyone else is up to tonight in your city!
</p>