<p>
  Hey <%= @user.first_name %>,
</p>

<p>
  Congratulations! As a thank you for inviting five friends to join The Whoot, we would like to reward you with a free beer!
</p>
<p>
  Show the code below to the bartender at any of the participating bars around New York City and claim your free brew on us.
</p>
<p style="margin-left: 15px">
  <%= @code %>
</p>
<p>
  If you don't happen to reside in or around New York City -- you should, its a good time! -- then stay tuned for when we launch in your city!
</p>
<p>
  Thanks again for using The Whoot!
</p>
<p>
  Participating bars:
</p>
<ul>
  <li>Bar 1 - Link</li>
  <li>Bar 2 - Link</li>
  <li>Bar 3 - Link</li>
</ul>