<p>Hi <%= @user.first_name %>,</p>

<p>
  Create a post for tonight and see what your friends are up to! Click <%= link_to "here", "http://thewhoot.com" %> to log in.
</p>

<p style="font-size: 13px; color: #777;">
  This is your daily reminder from The Whoot.
  <br/>To change email settings, log in and click "Settings" under your name.
</p>
