<p>
  <%= @user.fullname %> is interested in you getting on <%= link_to 'The Whoot!', root_path %>
</p>

<p>
  Log in to post your plans for tonight and browse what all your friends are planning on doing.
</p>

<p>
  - Post an open invitation to all your followers for your event
  <br />
  - Group your friends together in different lists to easily find out what different circles are up to
  <br />
  - Anonymously PING your friends to let them know one of their followers is interested in their plans
  <br />
  - Find out what's trending tonight in your city
<p>

<p>
  There is no better way to figure out whats going on tonight in your city
</p>

<p>
  Whether you’re Working, Staying In, Having a Relaxed Night Out or Partying, log on to The Whoot to find out who you should do it with!
</p>