<p>
  <%= @user.fullname %> has invited you to join The Whoot!
</p>

<p>
  The Whoot is all about helping you figure out what your friends are doing tonight. No official plans are
  necessary! As long as you generally know what you would like to do, you can log-on, post, and browse
  all the posts of the friends that you follow. On The Whoot you get access to real-time information that
  will truly improve the night ahead.
</p>
<p>
  Why use The Whoot?
</p>
<p>
  - Easily browse your friends’ plans for tonight
</p>
<p>
  - Seamlessly coordinate plans with friends for the night ahead
</p>
<p>
  - Anonymously Ping a friend to let them know one of their followers is interested in their plans
</p>
<p>
  - Discover what's trending tonight in your network and city
</p>
<p>
  There is no better way to plan your night than by using The Whoot!
</p>