<p>Hey There!</p>
 
<p>
  Welcome to The WHOOT! You can now post your plans for tonight and browse what all your friends are planning on doing.
</p>

<p>
  - Post an open invitation to all your followers for your event!
</p>

<p>
  - Group your friends together in different lists to easily find out what different circles are up to!
</p>

<p>
  - PING your friends and let them know one of their followers is interested in their plans!
</p>

<p>
  - Find out whats trending tonight in your city!
</p>

<p>
  There is no better way to figure out whats going on tonight in your city!
</p>

<p>
  Whether you’re Working, Staying In, Having a Relaxed Night Out or Partying, log on to The Whoot to find out who you should do it with!
</p>