<p>Welcome to The Whoot!</p>
<p>
  The central objective of The Whoot is to help you quickly and easily determine which of your friends are staying
  in and which are going out. Log on to The Whoot where you can find information that will actually improve your night.
</p>
<p>
  Why use The Whoot?
</p>
<p>
  - Easily browse your friends’ plans for the night
</p>
<p>
  - Spread the word about your event by posting an Open Invitation to all your friends
</p>
<p>
  - Anonymously Ping a friend to let them know one of their followers is interested in their plans
</p>
<p>
  - Discover what's trending tonight in your network and city
</p>
<p>
  There is no better way to plan your night than by using The Whoot!
</p>