<p>Welcome to The Whoot!</p>
<p>
  The Whoot is an information feed that bridges the gap between your scattered social circle and plans for the night. Forget the tedious text and tiresome phone-call exercises to figure out who’s staying in and who’s going out. Logon to The Whoot and skip to what’s really important: enjoying your night.
</p>
<p>
  Why use The Whoot?
</p>
<p>
  - Easily browse your friends’ plans for the night
</p>
<p>
  - Spread the word about your event by posting an Open Invitation to all your friends
</p>
<p>
  - Anonymously Ping a friend to let them know one of their followers is interested in their plans
</p>
<p>
  - Discover what's trending tonight in your network and city
</p>
<p>
  There is no better way to plan your night than by using The Whoot!
</p>