<div id="unread-notification-count" class="ac" data-url="<%= my_notifications_path %>" data-m="get">
    <span class="<%= 'on' if user.unread_notification_count > 0 %>"><%= user.unread_notification_count.to_i %></span> Notifications
</div>