<p>
  <%= @user.first_name %>, there’s been a lot going on since you last logged in. We have a few notifications for you!
</p>

<% @notifications.each do |notification| %>
  <p>
    - <%= notification.full_text %>
  </p>
<% end %>