<div id="notificationsC">
  <h4>Notifications</h4>
  <div class="remove">X</div>
  <ul>
    <% @notifications.each do |notification| %>
      <li class="<%= 'unread' unless notification.read %>">
        <div class="text">
          <%= render "notifications/#{notification.type.to_s.underscore}", :notification => notification, :is_first => false, :base => '' %>
        </div>
        <div class="date">
          <%= time_ago_in_words notification.created_at, false %> ago
        </div>
      </li>
    <% end %>

    <% if @notifications.length == 0 %>
      <li class="none">You have no notifications...</li>
    <% end %>
  </ul>
</div>