<div class="auto-user">
  <% img = default_image_url(@user, [30, 30]) %>
  <%= image_tag img[:url], img[:options].merge!({:class => 'profileImage'}) if img %>
  <div class="name">
    <%= @user.fullname %>
  </div>

  <div class="location">
    <%= @user.location.full %>
  </div>
</div>