<% content_for :user_header do %>
  <%= render 'users/header' %>
<% end %>

<% if @post %>
  <div id="post-feed">
    <%= render "normal_posts/teaser", :post => @post, :user => @user %>
  </div>
<% else %>
  <div class="none"><%= @user.first_name %> has not posted for tonight</div>
<% end %>

<div id="subscribe-users" data-ids='<%= Yajl::Encoder.encode([@user.id.to_s]) %>'></div>