<% content_for :user_sidebar do %>
  <%= render 'users/sidebar' %>
<% end %>

<div id="post-feed">
  <%= render "normal_posts/teaser", :post => @post, :user => @user %>
  <%= render :template => "normal_posts/show" %>
</div>