<% unless @my_post == nil %>
  <div id="my-post">
    <h5>
      <%= @my_post.night_type_short %>
    </h5>

    <div id="change-post">Change</div>

    <div class="clear"></div>

    <% if @my_post.venue %>
      <h6>@ <%= @my_post.venue.pretty_name %></h6>
    <% end %>

    <div class="tags">
      <% if @my_post.tag %>
        <%= render "tags/teaser", :tag => @my_post.tag %>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
<% else %>
  <div id="my-post">
    <span id="declare-post"></span>
    You have not declared your post for the night.
  </div>
<% end %>