<% content_for :content do %>
  <section class="static">
  
    <h1>Reclaim your night:</h1>
    <p>
      The Whoot is a crowd-sourced information feed that bridges the gap between your scattered social circle and plans for the night. Think of The Whoot as the simple answer to “Who is doing what tonight?” Logging on to The Whoot will give you the ability to quickly figure out exactly what to do tonight as well as who to do it with.
    </p>
  
    <h4>How does it work?</h4>
    <p>
      At the center of The Whoot are simple updates called Posts that contain the basic information about your plans for tonight. In order to access the site, users are required to create a Post by selecting one of four standardized plan options—Working, Staying in, Relaxing out, or Partying—which is shared with that user’s followers. Remember, A Post isn’t about what you’re doing now; rather it’s about what you’re going to do or want to do tonight.
    </p>
  
    <h4>Why are there only four options for my Post?</h4>
    <p>
      Information overload impairs our ability to effectively process the relevant details we need to enjoy our nights. By restricting Posts to four options, users have the ability to sort and filter their friends’ Posts in order to most effectively digest the information at their fingertips. Only want to know which of your friends are interested in Partying tonight? Easy. Just select Partying in the filter bar and voilà: a list of all your friends who plan to party tonight.
    </p>
  
    <h4>Why does my Post reset everyday?</h4>
    <p>
      Each Post lasts from the time you post until 5AM the following morning. This ensures that all posts are up-to-date, fresh, and pertain only to the night on which you logon.
    </p>
  
    <h4>What is a Loop and Popularity?</h4>
    <p>
      Every user gets their own personal “Loop” every day. Friends who follow that user can add themselves to that user’s Loop throughout the day. By adding yourself to a friend’s Loop, you are effectively letting them know that you would like to be kept “In the Loop” regarding what they are doing later tonight. Posts can be sorted on the Home Feed by their Popularity — the number of people in that user’s Loop.
    </p>
  
    <h4>What is our secret sauce?</h4>
    <p>
      The Whoot has two features that we like to think of as our secret sauce: (1) Pings and (2) Trending tags.
    </p>
  
    <h5>Pings</h5>
    <p>
      A Ping is a message that you can send to a user who has not yet created a Post for the night. Pinging a user prompts the recipient to login and post their status. Best of all, Pings are anonymous; no need to be shy about asking friends for their plans!
    </p>
  
    <h5>Trending Tags</h5>
    <p>
      Trending Tags are a list of the most popular Tags within both your social network and city. It works like this: every time you declare a Post, you have the option of including a Tag of up to five words to associate with your status. A Tag could be the name of a bar your plan to go to, the name of a movie you plan to see, or rather a concise and creative message to your followers.
    </p>
  
    <p>
      The Whoot team curates these Tags and reports back with the most popular ones in your network and city. You can view the Trending Tags on the Home Feed and select an individual Trending Tag to see which of your friends are associated with that Tag!
    </p>
  
    <h4>The Whoot Team</h4>
  
    <p>
      The Whoot was founded by Ryan Coyne, Marc Macleod, and William Quartner.
    </p>
  
    <p>
      Please feel free to reach out to The Whoot Team with questions or comments at support@thewhoot.com.
    </p>
  
    <p>
      Thank you for your support and we hope you enjoy the site!
    </p>
  </section>
<% end %>