<div class="static">

  <h1>Reclaim your night:</h1>
  <p>
    The Whoot is an information feed that bridges the gap between your scattered social circle and plans for the night. Forget the tedious text and tiresome phone-call exercises to figure out who’s staying in and who’s going out. Logon to The Whoot and skip to what’s really important: enjoying your night.
  </p>

  <h4>How does it work?</h4>
  <p>
    At the center of The Whoot are simple updates called Posts. In order to access the site, users are required to create a Post by selecting one of four standardized status options—Staying in, Working, Relaxing out, or Partying—which is shared with that user’s followers.
  </p>

  <h4>Why are there only four options for my Post?</h4>
  <p>
    By restricting Posts to four options, users have the ability to sort and filter their friends’ Posts in order to most effectively digest the information at their fingertips. Only want to know which of your friends are interested in Partying tonight? Easy. Just select Partying in the filter bar and voilà: a list of all your friends who plan to party tonight.
  </p>

  <h4>Why does my Post reset everyday?</h4>
  <p>
    Each Post lasts from the time you post until 5AM the following morning. This ensures that all posts are up-to-date, fresh, and pertain only to the night on which you logon.
  </p>

  <h4>What is an Open Invite?</h4>
  <p>
    An Open Invite is a Post with the explicit purpose of communicating to your followers that they are invited to join you in your plans. Designate your Post as an Open Invite, and your plans will be displayed on a special feed designated for Open Invites. Want to spread the word about a party you’re hosting, or invite your friends to join you at the movies? Create an Open Invite. On the flip side, if you’re looking for something to do tonight, the Open Invite feed is a great place to start your search.
  </p>

  <h4>What is a +1 and Popularity?</h4>
  <p>
    Think of a +1 as a way to like a user’s Post that contributes to both the Post’s and user’s Popularity. Posts can be sorted on the Home Feed by their Popularity—the number of +1’s awarded to the Post—and The Whoot tracks the cumulative number of +1’s collected by each user over their career on the site. Showoff your social clout and start racking up those +1’s!
  </p>

  <h4>What is our secret sauce?</h4>
  <p>
    The Whoot has two features that we like to think of as our secret sauce: (1) Pings and (2) Trending words.
  </p>

  <h4>Pings</h4>
  <p>
    A Ping is a message that you can send to a user who has not yet created a Post for the night. Pinging a user prompts the recipient to logon and post their status. Don’t worry, though, Ping messages are kept anonymous so that your cover remains intact.
  </p>

  <h4>Trending Tags</h4>
  <p>
    Trending Tags are a list of the most popular Tags within both your social network and city. It works like this: every time you declare a Post, you have the option of including a Tag of up to five words to associate with your status. A Tag could be the name of a bar your plan to go to, the name of a movie you plan to see, or rather a concise and creative message to your followers.
  </p>

  <p>
    The Whoot team curates these Tags and shows you the most popular ones in your network and city. You can view the Trending Tags on the Home Feed and select an individual Trending Tag to see which of your friends are associated with that Tag!
  </p>

  <h4>The Whoot Team</h4>
  <p>
    The Whoot was founded by Ryan Coyne, Marc Macleod, and William Quartner in the summer of 2011.
  </p>

  <p>
    Please feel free to reach out to The Whoot Team with questions or comments at supprot@thewhoot.com.
  </p>

  <p>
    Thank you for your support and we hope you enjoy the site!
  </p>
</div>
