<div class="static">
  <h1>Contact Us</h1>

  <p>If you have feedback for us please submit it via the feedback button at the bottom left of every page.</p>
  <p>If your message is private or you have a support question please contact us at support@thewhoot.com.</p>

</div>