<div class="static">

  <!--helpful regex in case we want to make links to each <h4[^\<]</h4>-->

  <h1>Getting Started on The Whoot</h1>

  <h4>Do I have to log in with Facebook?</h4>
  <p>Yes, you have to log in with Facebook. Partnering with Facebook provides our users with secure account access and makes it easier than ever to build out your network on The Whoot. When you first log in you will be taken to the “Find Facebook Friends Page”. You may continue to refer to the “Find Facebook Friends Page” later on by selecting the link on the right sidebar.</p>

  <h4>How can I follow my friends?</h4>
  <p>Go straight to the "Find Facebook Friends" link on the right side bar. You'll see all of your Facebook Friends who are on The Whoot instantly. You can also search for your friends using the search bar in the top right of your screen. You can also invite new friends (This is a highly encouraged activity by The Whoot Team)!</p>

  <h4>How does The Whoot's following model work?</h4>
  <p>Once you are following another user, that user will get a notification letting them know that you are now following them. No waiting period required. This way, The Whoot is fun and informative the first time you log in.</p>

  <h4>What is a +1?</h4>
  <p>A plus one is a way for you to show the people you follow that you like their post. Whether you think another user’s plan is a good option for the night ahead, or you just think its funny, give them a +1 to let them know you like what you see.</p>

  <h4>What is a Ping?</h4>
  <p>A Ping is a message or notification that you can send to any user that you follow letting them know that one of their followers is interested in knowing what their thoughts are in regards to the night ahead. Pings are anonymous so you don’t have to worry about always being that person who is constantly texting everyone soliciting their plans.</p>

  <h4>Why does my post reset?</h4>
  <p>Every user’s post resets every morning at 5 AM. We do this so that the information you see is pertinent and informative. The Whoot is focused solely on the night ahead and so there is no reason to have people’s old plans from past nights clogging up your Main Feed. If you do want to reminisce on past nights, just head to a friend’s personal page and check out their historical posts.</p>

  <h4>Is The Whoot location based?</h4>
  <p>No, you are able to follow friends from anywhere in the country. However, we know that you are probably more interested in the posts created by your friends who are around you. For this reason we created a Map Page where you can see all of the locations your friends are planning on going to tonight, grouped by city.</p>

  <h4>How can I manually change my location?</h4>
  <p>You are able to change your location on the Settings page as well as using the toggle in the top right of the Main Feed page.</p>

  <h4>How can I share my post on Twitter?</h4>
  <p>With the click of a button! With our Twitter integration you can Tweet your plans for the night ahead. Help spread the word about The Whoot by having the “#TheWhoot” at the end of your tweet. You can also "Like" us on Facebook. We certainly wouldn’t mind if you did both!</p>

  <h4>How can I see my friend’s Posts?</h4>
  <p>After you follow another user, their posts will show up in your Main Feed. Filter the posts using the filters at the top of your Main Feed to find exactly who is doing a certain type of activity or expand a friend’s post to comment.</p>

  <h4>What are Groups all about?</h4>
  <p>With Groups you can categorize all of your friends. Want to see what all the boys from college are doing on a given night? How about all your girls from home? Create a Group and put whoever you want in it so that you can quickly find out what certain social circles are planning for the night ahead. Don't worry though, only you can see your Groups.</p>

  <h4>What if I only care about friends that are partying, or working, or….?</h4>
  <p>No problem, just use the Filters. The four filters (Working, Staying in, Relaxing Out or Partying) at the top of your Main Feed will narrow all of the posts down to just the posts that match the Filters that you have selected.</p>

  <h4>I don't want certain followers to see my post tonight. How does The Whoot handle that?</h4>
  <p>There is nothing more important to The Whoot Team than your privacy. For that reason, The Whoot allows you to block any user you want regardless of whether or not they are currently following you. Don't want the ex-girlfriend or weirdo from work knowing what you’re planning? Just block them and you are good to go.</p>

  <h4>How can I use The Whoot to connect with friends in the real world?</h4>
  <p>Comment on their post or give their post a +1. They'll get a push notification or an e-mail right away that a follower has commented on their post. Currently we are working on the ability for users to chat with one another through our mobile app and website. We’ll keep you posted on that…</p>


  <h1>About The Whoot</h1>

  <h4>How do you pronounce "The Whoot"?</h4>
  <p>So here is a funny story. As we began testing The Whoot with friends and family we began to hear them talking about something that sounded like "The WOOT". Much to our surprise, they were talking about us. The way it’s pronounced is The "HOOT".</p>

  <h4>Where can I learn about job opportunities with The Whoot?</h4>
  <p>At The Whoot, we are always looking to add bright and talented people to our Team. We care about creating a fantastic product for our users and having a great time with each other while doing it. Feel free to contact us at <a href="mailto:Support@TheWhoot.com">Support@TheWhoot.com</a> if you are interested in joining our team.</p>

  <h4>What is The Whoot's Privacy Policy?</h4>
  <p>At The Whoot, we respect and value our users' right to privacy. We want you to feel safe and secure as you share your life with the people you know. Feel free to read more about our <a href="<%= privacy_path %>" target="_blank">Privacy Policy</a>. If you have any questions or concerns about your privacy, please <a href="<%= contact_path %>" target="_blank">contact us</a>.</p>

  <h4> How can I get in touch with The Whoot Team?</h4>
  <p>We would love to hear from you!</p>
  <p>If you are having an issue that you need help resolving, email us and we will get back to you.   Be sure you are running The Whoot's most recent version as we fix bugs we find with each new version we release.  Please tell us what phone you are using (and the version) and provide us with as many details as you can remember about the bug so we can help you resolve the malfunction quickly.</p>

  <h4>What is up next for The Whoot?</h4>
  <p>Well, that could be up to you! Have any ideas? We love hearing from our users so leave some feedback for us using the feedback link on the left of the page.</p>

  <h4>Who is The Whoot team?</h4>
  <p>The Whoot was founded by Ryan Coyne, Marc MacLeod and Will Quartner in December 2011. </p>


  <h1>My Account</h1>

   <h4>Logging in with Facebook creeps me out, what gives?</h4>
  <p>Have no fear! The Whoot uses only your most basic information from Facebook. And we only take the information once, not every time you log in. We think sites that take everything about you are weird. Below is what we use to make your experience on The Whoot so great.</p>

  <p>Facebook provides us with your Name, Picture, E-mail Address, Gender and Birthday.</p>

  <p>Here is why:</p>

  <p>Name – Other users need to know who you are<br/>
  Picture – A Picture helps people make sure they are following the correct “John Smith”. It also gives your profile a nice personal touch.<br/>
  E-Mail address – We need your email address for user authentication purposes. We also use it to keep you updated with activity on The Whoot. For example, The Whoot will send you a message to let you know when you have a new follower or if someone has commented on your post. (Please note that you can manage your email preferences on the Settings Page).<br/>
  Gender / Birthday – These are basic demographic data points we use to analyze our user base internally.</p>

  <h4>How do I change my profile picture?</h4>
  <p>You can navigate to your Settings Page by clicking the link in the top right underneath your Picture on your Main Feed. On your Settings Page you will see an option to change your profile picture.</p>

  <h4>How do I manage my notification settings?</h4>
  <p>You can navigate to your Settings Page by clicking the link in the top right underneath your Picture on your Main Feed. On that page you will see an area where you can manage the amount and type of emails you receive. </p>

  <h4>Can I change any of my other basic information like my name?</h4>
  <p>We get your name from Facebook, and no there is no way to change it.</p>
</div>