<div class="iphone">
  <%= image_tag "iphone-m.png", :alt => "iPhone app link", :class => "logo-m" %>
  <div class="title">iPhone app</div>
  <div class="text-m">coming February 23!</div>
</div>
<div class="android">
  <%= image_tag "android-m.png", :alt => "iPhone app link", :class => "logo-m" %>
  <div class="title">Android app</div>
  <div class="text-m">coming February 23!</div>
</div>
<%#= image_tag "splash-button1.png", :alt => "Post what you are up to tonight", :class => "splash-button1" %>
<%#= image_tag "splash-button2.png", :alt => "Connect with friends for the night", :class => "splash-button2" %>