<% content_for :content do %>
  <section class="static team">
    <h1>The Whoot Team</h1>

    <div>
      <%= image_tag "team_ryan.jpg" %>
      <h3>Ryan Coyne</h3>
      <h5>Co-Founder - <a target="_blank" href="http://twitter.com/rcoyne22">@RCoyne22</a></h5>
      <p>
        Ryan graduated from Cornell with a degree in Applied Economics and Management in 2010. He previously
        worked at JP Morgan Chase as a financial institutions & governments analyst. Ryan enjoys ordering
        far more food than one man can finish in one sitting and dislikes people who argue that rowing is not a cool sport.
      </p>
    </div>

    <div>
      <%= image_tag "team_marc.jpg" %>
      <h3>Marc MacLeod</h3>
      <h5>Co-Founder - <a target="_blank" href="http://twitter.com/marbemac">@Marbemac</a></h5>
      <p>
        Marc graduated from Tufts University with degrees in Computer Science and Economics. He previously
        spent 2 years working as VP of Engineering at Abroad101. After watching every show AMC has ever produced,
        he decided it was time to get out more. If only there was a service to help him figure out what to do at night.
      </p>
    </div>

    <div>
      <%= image_tag "team_will.jpg" %>
      <h3>William Quartner</h3>
      <h5>Co-Founder - <a target="_blank" href="http://twitter.com/wquartner">@WQuartner</a></h5>
      <p>
        Will is originally from Bethesda, MD but relocated to New York after graduating from Cornell with a
        B.A. in Economics. His favorite restaurant is L’Artusi (try the brussels sprouts!), he is a
        self-proclaimed chocolate enthusiast, and an aspiring NY Times crossword expert. Will has also
        recently taken up tweeting, but admits that his following is a bit embarrassing (@wquartner, if you feel inclined)…
      </p>
    </div>

    <div>
      <%= image_tag "team_matt.jpg" %>
      <h3>Matt McCormick</h3>
      <h5>Engineer - <a target="_blank" href="http://twitter.com/mattcmccormick">@MattCMcCormick</a></h5>
      <p>
        Matt graduated from Tufts University in 2010 with degrees in Computer Science and Music, because he
        continually refuses to pick one. In addition to being one quarter of The Whoot Team, he is half of All
        Out, and made up one twelfth of the Tufts Beelzebubs on NBC's The Sing-Off. He plays volleyball,
        studied abroad in Ireland, and also just realized that twelfth is a silly-looking word.
      </p>
    </div>
  </section>
<% end %>