<div class="attending_venue_map">
  <div class="venue">
    <h3><%= venue.name %></h3>
    <div class="address"><%= venue.address %></div>
  </div>
  <div class="users">
    <% users.each do |user| %>
      <div class="user">
        <% img = default_image_url(user, [30, 30], 'square') %>
        <%= image_tag img[:url], img[:options] if img %>
        <%= user_link user %>
      </div>
    <% end %>
  </div>
</div>