<div class="attending_venue_map">
  <div class="venue">
    <h3><%= venue.name %></h3>
    <div class="address"><%= venue.full_address %></div>
  </div>
  <div class="users">
    <% users.each do |user| %>
      <div class="user">
        <%= image_tag user_default_picture_path(user, :d => [30, 30], :s => 'square'), :style => "max-width: 30px;", :alt => '' %>
        <%= user_link user %>
      </div>
    <% end %>
  </div>
</div>