<div class="auto-venue">
  <%# img = default_image_url(@user, [30, 30]) %>
  <%#= image_tag img[:url], img[:options].merge!({:class => 'profileImage'}) if img %>
  <div class="name">
    <%= @venue.name %>
  </div>

  <div class="address">
    <%= @venue.address %>
  </div>
</div>