<div id="post-box" class="<%= 'hide' unless @my_post == nil %>">

  <% unless @my_post == nil %>
    <h3>You will change your current post.</h3>
  <% else %>
    <h3 class='adjust'>
      Please post your plans for tonight before moving on. No free loaders!
      <div>(you can easily change your plans later)</div>
    </h3>
  <% end %>

  <div class="container">
    <%= render "posts/form", :post => Post.new, :user => @user %>

    <% unless @my_post == nil %>
      <div class="cancel">Cancel</div>
    <% end %>
  </div>
</div>