<p><%= @user.first_name %>, you’ve been PINGED! One of your followers wants to know what you’re up to tonight.</p>

<p>Login to The Whoot to post your plan for the night and see what your friends are doing in <%= @user.location.city %>!</p>