<p><%= @user.first_name %>, you’ve been PINGED! One of your followers wants to know what you’re up to tonight.</p>

<p>Login to The Whoot to let them know and see whats going on tonight in your city!</p>