<p><%= @to_user.first_name %>, we see you had an interest in what <%= @from_user.first_name %> was up to for the night..</p>

<p>…Well good news, <%= @from_user.gender_pronoun %> posted! (We knew <%= @from_user.gender_pronoun %> would eventually)</p>

<p>Login to see what their plans are for tonight.</p>



