<p><%= @to_user.first_name %>, you pinged <%= @from_user.first_name %> and <%= @from_user.gender_pronoun %> has posted.</p>

<p>Login to The Whoot to to see what <%= @from_user.gender_pronoun %>'s up to tonight!</p>