/*
Document   : post
Created on : May 3, 2011, 9:41:00 PM
Author     : Marc MacLeod (marbemac@gmail.com)
Description:
Purpose of the stylesheet follows.
*/

.comment-feed {
  padding: 10px 0;
}

#new_comment {
  @include clearfix();
  margin: 0 0 10px 15px;

  img {
    @include border-radius(3px);
    float: left;
  }
  label {
    left: 40px;
    top: 0px;
    width: 240px;
    padding: 5px 10px;
  }
  textarea {
    @include border-radius(3px);
    border: 1px solid #CCC;
    padding: 5px;
    margin: 0 0 0 10px;
    font-size: 13px;
    float: left;
    width: 250px;
    height: 50px;
    resize: none;
  }
  .actions {
    position: relative;
    left: 10px;
  }
  .errors {
    margin: 0 0 10px 0;
  }
}