/*
    Document   : _library
    Created on : Apr 14, 2011, 2:59:21 PM
    Author     : Marc
    Description:
        Library overrides.
*/

/*
 * qTip
 */

.jgrowl .ui-tooltip-title { font-size: 18px; }
.jgrowl .ui-tooltip-content { font-size: 16px; padding: 10px; line-height: 1.4em; }
.jgrowl {
  @include single-box-shadow(#333, 1px, 1px, 5px);
  .ui-tooltip-title { font-size: 18px; }
  .ui-tooltip-content { font-size: 17px; padding: 7px; line-height: 1.2em; }
}

.ui-tooltip,
.qtip
{
  font-size: 13px;
  line-height: 1.125em;
}