/*
    Document   : _library
    Created on : Apr 14, 2011, 2:59:21 PM
    Author     : Marc
    Description:
        Library overrides.
*/

/*
 * gritter
 */

.gritter-item {
  @include single-box-shadow(#999, 1px, 1px, 3px);
  @include border-radius(3px);
  padding: 7px 11px 5px 11px;
  border: 1px solid transparent;
  background: black;

  &:hover {
    border: 1px solid #FFF;
  }
  p {
    font-size: 14px;
    cursor: default;
  }
}
.gritter-close {
  left: -14px;
  top: -12px;
}
.gritter-title {
  padding-bottom: 4px;
  cursor: default;
}
.gritter-red {
  .gritter-item {
    background: #990000;
  }
}
.gritter-green {
  .gritter-item {
    background: #3C7419;
  }
}