#post-form {
  @include border-radius(3px);
  width: 415px;
  background: #FFF;

  #post-form-content,
  #post-form-venue,
  #post-form-tweet {
    padding: 8px;
    width: 361px;
  }
  #post-form-content {
    margin: 25px 0 8px 0;
  }
  .submit {
    float: left;
    margin: 0 10px 0 0;
  }
  .bottom-options {
    margin: 5px 0 0px;
    .btn {
      font-size: 12px;
    }
  }
  #post-form-tweet {
    margin: 10px 0 0 0;
  }
}

.posts {
  .new {
    .top {
      text-align: center;
      margin: 0 0 50px 0;
    }
    .logo {
    }
    .logout {
      color: #FFF;
      font-weight: bold;
      margin: 0 0 0 60px;
    }
    #post-form {
      margin: 0 auto 0 auto;
    }
  }
}

#my-feed {
  #feed-sidebar {
    border-right: 1px solid #e3e3e3;
    width: 130px;
    padding: 0;
    margin: 10px 0 10px 10px;
    min-height: 450px;
    float: left;

    h4 {
      @include single-text-shadow(#DDD, 0, 1px);
      font-weight: normal;
      font-size: 15px;
      padding: 0 0 5px;
    }
    .menu {
      border-bottom: 1px solid #e3e3e3;
      padding: 0 0 5px 0;

      a {
        @include single-text-shadow(#DDD, 0, 1px);
        display: block;
        padding: 5px 10px 5px 0;
        font-size: 15px;
        position: relative;

        i {
          display: none;
          position: absolute;
          top: 50%;
          right: 10px;
          margin-top: -6px;
        }
        &:hover,
        &.on {
          i {
            display: block;
          }
        }
        &.on {
          color: $linkColorHover;
          cursor: default;
        }
      }
    }
    .posts-sidebar {
      border-bottom: 1px solid #E3E3E3;
      padding: 10px 0;

      .btn {
        margin-bottom: 5px;
        position: relative;
        padding: 3px 7px;
        text-align: left;
        width: 104px;
      }
      .num-friends {
        position: absolute;
        right: 9px;
        top: 3px;
      }
    }
  }
  #posts-feed {
    width: 535px;
    float: right;
    padding-top: 14px;

    ul.big_out,
    ul.low_out,
    ul.low_in,
    ul.working{
      display: none;
    }
  }
  .user-list {
    width: 539px;
    float: right;
    padding-top: 14px;
    h4 {
      margin: 0 0 8px 7px;
    }
  }
}

#posts-feed {
  .post-feed-location {
    margin-bottom: 15px;
    position: relative;
  }
  h4 {
    @include single-text-shadow(#DDD, 0, 1px);
    margin: 0 0 8px 7px;
    cursor: default;
  }
  #update-post {
    position: absolute;
    top: 1px;
    left: 90px;
    color: $post-low_out-color;
    cursor: pointer;
  }
  #shout {
    position: absolute;
    top: 1px;
    left: 210px;
    color: $post-low_out-color;
    cursor: pointer;
  }
  ul.big_out,
  ul.low_out,
  ul.low_in,
  ul.working{
    border-left: 5px solid;

    &.big_out {
      border-color: $post-big_out-color;
      .name {
        .type {
          color: $post-big_out-color;
        }
      }
    }
    &.low_out {
      border-color: $post-low_out-color;
      .name {
        .type {
          color: $post-low_out-color;
        }
      }
    }
    &.low_in {
      border-color: $post-low_in-color;
      .name {
        .type {
          color: $post-low_in-color;
        }
      }
    }
    &.working {
      border-color: $post-working-color;
      .name {
        .type {
          color: $post-working-color;
        }
      }
    }

    padding: 0 0 0 2px;
    margin: 0 0 0 0px;
    li {
      position: relative;
      margin-bottom: 1px;
      .top {
        height: 50px;
        .date {
          position: absolute;
          top: 14px;
          left: 10px;
          cursor: default;
        }
        &.show-date {
          .name,
          .tag {
            padding-left: 120px;
          }
        }
      }
      &.odd {
        .top {
          background-color: $list-odd-color;
        }
      }
      &:hover,
      &.on {
        .top {
          background-color: $list-hover-color;
        }
      }
      .top {
        img {
          position: absolute;
          left: 0px;
          top: 0px;
          height: 50px;
          width: 50px;
          display: block;
          background-color: #999;
        }
        .name,
        .tag {
          position: relative;
          font-size: 14px;
        }
        .name {
          padding: 6px 0 0 65px;
          a {
            font-weight: bold;
            color: #444;
          }
          .type {
            font-weight: bold;
          }
        }
        .tag {
          padding: 0 10px 0 65px;
        }
        .comments_count,
        .loop-in-btn {
          position: absolute;
          right: 3px;
          .btn {
            @include border-radius(0px);
            font-size: 11px;
            padding: 1px 8px;
            width: 50px;
          }
          .count {
            font-weight: bold;
            position: absolute;
            top: 2px;
            right: 75px;
            cursor: default;
          }
          .mine {
            font-size: 11px;
            position: relative;
            top: 2px;
            width: 58px;
            cursor: default;
          }
        }
        .comments_count {
          top: 24px;
          .icon {
            top: 4px;
          }
        }
        .loop-in-btn {
          top: 3px;
          cursor: pointer;
        }
      }
      .details {
        @include clearfix();
        position: relative;
        margin-left: 50px;
        background-color: $white;
        border-color: $list-hover-color;
        border-width: 8px;
        border-style: none solid solid;
        padding: 10px;

        textarea {
          width: 270px;
          height: 40px;
          resize: none;
          margin: 0 0 15px 0;
        }
        .left {
          float: left;
          width: 300px;

          .errors {
            width: 280px;
          }
          li {
            min-height: 30px;
            padding: 0 0 5px 40px;
            position: relative;

            img {
              position: absolute;
              top: 0px;
              left: 0px;
              height: 30px;
              width: 30px;
            }
            .content {
              font-size: 13px;
              a {
                font-weight: bold;
                color: #444;
              }
              .big_out { color: $post-big_out-color; }
              .low_out { color: $post-low_out-color; }
              .low_in { color: $post-low_in-color; }
              .working { color: $post-working-color; }
            }
            .when {
              font-size: 11px;
            }
            .shouted {
              font-style: italic;
              font-weight: bold;
            }
          }
        }
        .right {
          float: left;
          width: 135px;
          h4 {
            margin: 0 0 5px 0;
          }
          .none {
            font-style: italic;
          }
          a {
            display: block;
            margin: 0 10px 5px 0;
          }
        }
      }
    }
  }
}

#post-map {
  height: 650px;

  #map-canvas {
    height: 650px;
  }
}

.post-map-info-window {
  ul {
    margin: 15px 0 0 0;

    li {
      position: relative;
      height: 30px;
      padding: 0 10px 0 40px;

      img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 30px;
        height: 30px;
      }
      .name {
        line-height: 30px;
      }
    }
  }
}