#post-form {
  @include border-radius(3px);
  width: 415px;
  background: #FFF;

  #post-form-content,
  #post-form-venue {
    padding: 8px;
    width: 361px;
  }
  #post-form-content {
    margin: 25px 0 8px 0;
  }
  .submit {
    float: left;
    margin: 0 10px 0 0;
  }
  .bottom-options {
    margin-top: 15px;
    .btn {
      font-size: 12px;
    }
  }
}

.posts {
  .new {
    .top {
      text-align: center;
      margin: 0 0 50px 0;
    }
    .logo {
    }
    .logout {
      color: #FFF;
      font-weight: bold;
      margin: 0 0 0 60px;
    }
    #post-form {
      margin: 0 auto 0 auto;
    }
  }
}

#posts-feed {
  .post-feed-location {
    margin-top: 15px;
  }
  h4 {
    margin: 0 0 8px 7px;
  }
  #feed-sidebar {
    border-right: 1px solid #e3e3e3;
    width: 130px;
    padding: 0;
    margin: 10px 0 10px 10px;
    min-height: 450px;
    float: left;

    .menu {
      border-bottom: 1px solid #e3e3e3;
      padding: 0 0 5px 0;

      a {
        display: block;
        padding: 5px 10px 5px 0;
        font-size: 15px;
        position: relative;

        i {
          display: none;
          position: absolute;
          top: 50%;
          right: 10px;
          margin-top: -6px;
        }
        &:hover,
        &.on {
          i {
            display: block;
          }
        }
        &.on {
          color: $linkColorHover;
          cursor: default;
        }
      }
    }
  }
  .feed-content {
    width: 535px;
    float: right;

    ul {
      border-left: 5px solid;
      &.big_out { border-color: $post-big_out-color }
      &.low_out { border-color: $post-low_out-color }
      &.low_in { border-color: $post-low_in-color }
      &.working { border-color: $post-working-color }

      padding: 0 0 0 2px;
      margin: 0 0 0 0px;
      li {
        position: relative;
        height: 50px;
        margin-bottom: 1px;
        &.odd {
          background-color: $list-odd-color;
        }
        &:hover {
          background-color: $list-hover-color;
        }
        img {
          position: absolute;
          left: 0px;
          top: 0px;
          height: 50px;
          width: 50px;
          display: block;
          background-color: #999;
        }
        .name,
        .tag {
          position: relative;
          font-size: 16px;
          padding-top: 16px;
          float: left;
        }
        .name {
          margin-left: 60px;
          width: 140px;
          padding-right: 10px;
        }
        .tag {
          width: 245px;
        }
        .comments_count,
        .scoreC {
          position: absolute;
          right: 7px;
          font-weight: bold;
          overflow: hidden;
          whitespace: nowrap;
          div {
            float: right;
          }
        }
        .comments_count {
          top: 24px;
          padding: 2px 7px;
          .icon {
            margin: 2px 0 0 10px;
          }
        }
        .scoreC {
          top: 3px;
          padding: 2px 7px;
          cursor: pointer;
          .icon {
            margin: 1px 0 0 10px;
          }
          &:hover {
            background-color: $list-odd-color;
          }
        }
      }
    }
  }
}