/*
    Document   : _sprite
    Created on : May 6, 2011
    Author     : Marc MacLeod (marbemac@gmail.com
    Description:
        Sprite definitions.
*/

@import "icon/*.png";

.handle-small { @include icon-sprite(handle-small); }
.arrow-small {
  @include icon-sprite(arrow-small);
  width: 12px;
  height: 12px;
}

.check-working { @include icon-sprite(check-working); }
.check-low_in { @include icon-sprite(check-low_in); }
.check-low_out { @include icon-sprite(check-low_out); }
.check-big_out { @include icon-sprite(check-big_out); }

.check-working,
.check-low_in,
.check-low_out,
.check-big_out {
    width: 16px;
    height: 13px;
}

.arrow-o-r-2424 {
    @include icon-sprite(arrow_orange_right_24x24);
    width: 24px; height: 24px;
}
.fb-icon {
    @include icon-sprite(fb);
    width: 20px;
    height: 20px;
}
.arrow-r-2424 {
    @include icon-sprite(arrow_grey_right_24x24);
    width: 24px; height: 24px;
}
.loop-1616 {
  @include icon-sprite(loop_icon_16x16);
  width: 16px; height: 16px;
}
.minus-r-164 {
  @include icon-sprite(minus_red_16x4);
  width: 16px; height: 4px;
}
.comment-grey-1614 {
  @include icon-sprite(comment_grey_16x14);
  width: 16px;
  height: 14px;
}
.arrow-fat-down {
  @include icon-sprite(arrow-fat-down);
  width: 100px;
  height: 8px;
}
.arrow-fat-up {
  @include icon-sprite(arrow-fat-up);
  width: 100px;
  height: 8px;
}
.twitter-bird-small {
  @include icon-sprite(twitter_bird_small);
  width: 18px;
  height: 12px;
}