/*
    Document   : _sprite
    Created on : May 6, 2011
    Author     : Marc MacLeod (marbemac@gmail.com
    Description:
        Sprite definitions.
*/

@import "icon/*.png";

.comment-grey-1614 {
  @include icon-sprite(comment_grey_16x14);
  width: 16px;
  height: 14px;
}
.map-pin-small {
  @include icon-sprite(map_pin_stroke_12x12);
  width: 12px;
  height: 12px;
}
.loop-1616 {
  @include icon-sprite(loop_icon_16x16);
  width: 16px; height: 16px;
}