/*
    Document   : _user
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/

#authenticate_box {  }

.plupload {
    cursor: pointer;

    input { cursor: pointer; }
}

.profileImage {
    border:  none;
}

#user_panel {
    padding: 7px 5px 7px 5px;
    margin: 0 5px;
    border-bottom: 1px solid #F1F1F1;

    .name {
        float: left;
        text-decoration: none;
        display: block;
        margin: -2px 0 3px 2px;
    }
    .name:hover {
        text-decoration: underline;
    }

    .profile_image {
        position: relative;
        height: 65px;
        float: left;

        img {
            @include border-radius(5px);
            float: left;
        }
    }

    #profile-image-upload {
        @include border-radius(3px);
        position: absolute;
        top: 2px; left: 2px;
        background: #FFF;
        font-weight: bold;
        font-size: 11px;
        padding: 1px 5px;
        color: $link-color;
        cursor: default;
    }

    .stats {
        float: left;
        width: 110px;

        .item {
            clear: both;
            margin: 3px 0 0 10px;
            
            .label {
                float: left;
                font-size: 14px;
                color: #666;
                margin: 3px 15px 3px 0;
            }
            .value {
                float: left;
                font-size: 14px;
                color: #666;
                font-weight: bold;
                margin: 4px 0 0 0;
            }
        }
    }
    .small-link {
        font-size: 12px;
        text-decoration: none;
        margin: 0 0 0 10px;
        position: relative;
    }
    .small-link:hover {
        text-decoration: underline;
    }
}

#user-profile-image {
    @include border-radius(5px);
    margin: 10px 0 0 0;
}

.pingB {
    @include orange-button(2px, 16px);
    padding: 4px 8px 2px 8px;
    margin: 10px 0 0 0;
}
.pinged {
    background: transparent;
    color: #999;
    padding: 4px 8px 2px;
    border: none;
}

.users {
  .show {
    .none {
      text-align: center;
      margin: 30px 0;
      font-size: 22px;
      font-style: italic;
    }
  }
  #page-header {
    .details {
      .followB,
      .unfollowB {
          @include orange-button(2px, 16px);
          padding: 4px 8px 2px 8px;
          margin: 10px 0 0 0;
      }
      .pingB {
          margin-left: 10px;
      }
      .pinged {
          margin: 10px 0 0 10px;
      }
    }
  }
}



.following_users .teaser,
.followers .teaser{
  margin: 2px 8px !important;
}

.teaser.user {
    padding: 8px 5px 8px 60px;
    position: relative;
    margin: 5px 0;

    img {
        @include border-radius(5px);
        position: absolute;
        top: 0px; left: 0px;
    }
    .ulink {
      padding: 10px 0;
      display: block;
      float: left;
    }
    .followB,
    .unfollowB {
      @include orange-button(2px, 16px);
      padding: 4px 8px 2px 8px;
      margin: 8px 0 0 0;
      float: right;
    }
    .pingB,
    .pinged {
      float: right;
      margin: 8px 10px 0 0;
    }
}

.tag.user {
    .profile-image {
        margin: 0;

        img {
            @include border-radius(5px);
        }
    }
    .ulink {
        margin: 0;
        padding: 0 0 0 10px;
        position: relative; bottom: 7px;
    }
}

.ulink {
    position: relative;
    z-index: 30;

    &:hover {
        text-decoration: none;
    }
}

.user-hover-tab {
    position: relative;
    padding: 0 0 0 65px;

    .profileImage {
        @include border-radius(3px);
        position: absolute;
        top: -5px;
        left: 0px;
    }
    .follow-B {
        @include orange-button(3px, 10px);
        position: absolute;
        bottom: 0;
        left: -5px;
        padding: 3px 8px;
    }
    .name {
        font-size: 20px;
        margin-top: 6px;
    }
    .what {
        font-size: 12px;
        margin: 6px 0 0 0;
    }
    .working {
        color: $post-working-color;
    }
    .low_in {
        color: $post-low_in-color;
    }
    .low_out {
        color: $post-low_out-color;
    }
    .big_out {
        color: $post-big_out-color;
    }
    .stats {
        @include clearfix();
        border-top: 1px solid #AAA;
        margin: 6px 0 0 0;
        padding: 6px 0 2px 0;
        font-size: 12px;

        div {
            float: left;
            margin:  0 7px 0 0;
        }
    }
}

select.location {
    .c {
        font-weight: bold;
    }
    .s {
        padding-left: 30px;
    }
}

.new_user_invite {
    @include clearfix();
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #F1F1F1;
    padding: 5px 5px 5px;
    margin: 0 5px;

    h3 {
        color: #777777;
        cursor: default;
        float: left;
    }
    .errors {
      clear: both;
      margin: 5px 0 0 -2px;
    }
    label {
      top: 8px !important;
      left: 5px !important;
    }
    .email {
        margin: 3px 7px 0 -2px;
        width: 110px;
        display: block;
        float: left;
        clear: left;
    }
    .submit {
        font-size: 12px;
        margin: 5px 0 0 0;
    }
    .fb_find {
        display: block;
        clear: both;
        font-size: 12px;
        padding: 4px 0 0 0;
    }
}

.following_users,
.followers {
  .none {
    font-style: italic;
    margin: 20px;
    font-size: 20px;
  }
}

#social_friends {
    #invite_friends {
        @include clearfix();
        @include border-radius(5px);
        background: #deebfa;
        border: 3px solid #a2c0e3;
        float: left;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        margin: 20px 0 15px 230px;
    }
    .registered {
        padding: 5px 1px;
        clear: both;
        
        h3 {
            text-align: center;
            margin: 5px 0 15px 0;
        }
    }
    .friend {
        padding: 19px 5px 20px 60px;
        position: relative;
        float: left;
        width: 290px;
        white-space: nowrap;
        overflow: hidden;
        margin: 0 5px;

        img {
            position: absolute;
            top: 0px;
            left: 0px;
        }
        .followB,
        .unfollowB {
          @include orange-button(2px, 14px);
          position: absolute;
          right: 10px;
          top: 16px;
          padding: 5px 8px 2px;
        }
    }
    .none {
        text-align: center;
        font-style: italic;
    }
}

#whoot-settings {
    .section {
        border-bottom: 1px solid #CCC;
        padding: 10px 5px 15px 5px;
        margin: 10px;
    }
    h3 {

    }
    .note {
        font-size: 12px;
        color: #666;
    }
    .block-userC {
        margin: 10px 0 0 0;
    }
    .blocked-users {
        @include clearfix();
        margin: 10px 0 0 0;
        
        .blocked-user {
            float: left;
            padding: 5px 0;

            img {
                float: left;
            }
            a {
                float: left;
                padding: 5px 5px 5px 10px;
            }
            .unblock {
                @include link();
                float: left;
                padding: 8px 20px 0 2px;
                font-size: 12px;
            }
        }
    }
}