/*
    Document   : _user
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/

.user-list {
  li {
    height: 50px;
    margin: 5px 10px;

    &.odd {
      background: $grayLightest;
    }
    .ulink {
      padding: 16px 0 0 60px;
      position: relative;
      display: inline-block;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        background: #999;
        display: block;
      }
    }
    h5 {
      vertical-align: middle;
    }
    .follow-c,
    .ping-c{
      float: right;
      width: 85px;
      text-align: right;
      margin: 11px 10px 0 0;
    }
  }
}

#user-header {
  position: relative;
  padding: 0 0 0 215px;
  height: 150px;

  .profile-image {
    width: 150px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
}