/*
    Document   : _utilities
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/

#ajax-loading {
    display: none;
    background: #FFF url('images/ajax-loader.gif') no-repeat;
    border: 3px solid #000;
    padding: 15px;
    font-weight: bold; color: #000;
    position: absolute; top: 50%; left: 50%; margin: -25px 0 0 -10px;
}

#form-submitting {
    @include opacity(.8);
    @include border-radius(2px);
    background: #FC770D;
    color: #FFF;
    border: 4px solid #FCC190;
    padding: 3px 8px;
    font-size: 15px;
    position: fixed;
    bottom: 100px;
    left: 50%;
    margin-left: -165px;
    cursor: default;
    display: none;
    z-index: 10000;
}

.hide { display: none; }

.dev-notice { 
    @include border-radius(4px);
    
    background-color: #FFD2C7;
    color: red;
    font-size: 13px;
    padding: 5px;
    width: 90%;
    margin: 10px auto;
}

.clear { clear: both; }

// Input clearning (on click for instance)
.iclear {

    // White text
    &.w {
        color: #FFF !important;

        &.active {
            color: #A3B9D7 !important;
        }
    }
    // Black text
    &.b {
        color: #666 !important;

        &.active {
            color: #BBB !important;
        }
    }
}

// Styling for btnps that swap
.followB,
.attendB,
.pingB,
.setB {
  .triggered {
    display: none;
  }
}
.unfollowB,
.unattendB,
.pinged,
.unsetB {
  .default {
    display: none;
  }
}

// Hovering on buttons
.btn.hover {
    @include single-box-shadow(#999, 1px, 1px, 3px);
    border-color:  #888 !important;
    text-decoration: none;
    z-index: 200;
}

// Arrows
.arrow-small { width: 14px; height: 8px; cursor: default; }

.ac_results {
  @include border-radius(2px);
  @include single-box-shadow(#777, 2px, 2px, 4px);
  width: 100%;
  background: #FFFFFF;
  padding: 0;
  display: none;
  color: #AAA;
  border: 1px solid #DDD;;
  overflow: hidden;

  ul {
    overflow: hidden;
  }
  .sublist {
    position: relative;
    padding: 0;
    border-top: 1px solid #DDD;
    margin-top: -1px;
    ul {
      margin: 0 0 0 85px;
    }
  }
  .sublist-head {
    position: absolute;
    top: 3px;
    left: 0px;
    color: #AAA;
    cursor: default;
    width: 73px;
    text-align: right;
    font-size: 10px;
  }
  .sublist-content {
    padding: 6px 0;
    border-left: 1px solid #DDD;
  }
  .ac_even,
  .ac_odd {
    position: relative;
    background: #FFF;
    margin-left: -1px;
  }
  strong {
    color: #333;
    font-weight: normal;
  }
  .ac_over {
    @include single-box-shadow(#888, 1px, 1px, 3px);
    background: #EC822F;
    color: #FFF;
    z-index: 100;
    strong {
      color: #FFF;
    }
  }
}

.auto-user,
.auto-venue {
  position: relative;
  padding: 0 0 0 35px;
  img {
    @include border-radius(2px);
    position: absolute;
    top: 3px;
    left: 0px;
    padding: 1px;
    background: #FFF;
    max-width: 25px;
  }
  .name {
    position: relative;
    font-size: 14px;
    padding: 2px 0 14px 0;
  }
  .location {
    position: absolute;
    bottom: 0px;
    left: 34px;
    font-size: 11px;
    font-style: italic;
  }
}