/*
    Document   : _vote
    Created on : July 16, 2011
    Author     : Marc MacLeod (marbemac@gmail.com
    Description:
        Vote definitions.
*/

.scoreC {
  @include border-radius(2px);
  font-size: 21px;
  position: relative;
  padding: 3px 5px;
  text-align: right;
  border: 1px solid transparent;
  .votes {
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 0 2px;
  }
  button {
    float: left;
    padding: 0 0 0 6px;
  }
  .loop-placeholder {
    float: left;
    height: 16px;
    width: 22px;
  }
  &:hover {
    @include single-box-shadow(#CCC, 1px, 1px, 2px);
    border-color: #CCC;
    background: #FFF;
  }
}

.voteB,
.unvoteB {
  background: none;
  border: none;
  cursor: pointer;
  height: 18px;
}
.voteB {
  .triggered {
    display: none;
  }
}
.unvoteB {
  .default {
    display: none;
  }
  .triggered {
    @include opacity(.5);
    cursor: default;
  }
}