<!DOCTYPE html>
<html>
	<head>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "application.mobile" %>
    <%#= javascript_include_tag "application.mobile" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>