/*
    Document   : _default
    Created on : Mar 30, 2011, 4:06:21 PM
    Author     : Marc MacLeod
    Description:
        Default theme variables.
*/
$post-big_out-color: $red;
$post-low_out-color: $orange;
$post-low_in-color: $purple;
$post-working-color: $green;

$list-odd-color: $grayLightest;
$list-hover-color: $grayLighter;

.btn {
  text-shadow: none;
}

.btn.big_out,
.btn.low_out,
.btn.low_in,
.btn.working {
  color: $white;
}
.btn.big_out {
  @include button-background($red, $redDark);
}
.btn.low_out {
  @include button-background($orange, $orangeDark);
}
.btn.low_in {
  @include button-background($purple, $purpleDark);
}
.btn.working {
  @include button-background($green, $greenDark);
}